<!-- Renderizar los productos -->

<button (click)="createNewProduct()">Create</button>
<button (click)="onShowDetail('12000')">detalle not found</button>

<div class="products--grid">
  <app-producto
  [product]="product"
  *ngFor="let product of products"
  (addedProduct)="onAddShoppingCart($event)"
  (showProduct)="onShowDetail( $event )"
  ></app-producto>
  <button (click)="loadMore()">Load More products</button>
</div>
<div class="product-detail" [class.active]="showProductDetail">

  <h1> {{statusDetail}} </h1>
  <div *ngIf="productChosen" >
    <button (click)="toggleProductDetail()"> Close </button>
    <h1>{{productChosen.title}}}</h1>
    <div class="contenedor-swiper">
      <swiper
        [slidesPerView]="1"
        >
        <ng-template swiperSlide *ngFor="let img of productChosen.images">
          <img [src]="img" alt="">
        </ng-template>

      </swiper>
    </div>
    <p>{{productChosen.description}} </p>
    <button (click)="updateProduct()" >Edit</button>
    <button (click)="deleteProduct()" >Delete</button>
  </div>
</div>
