.message-error{
  background:rgb(179, 1, 1);
  color: wheat;
  opacity: 0;
  transition: all linear .5s;
  &.invalid{
    opacity: 1;
  }
}

.products--grid{

  display:flex;
  flex-direction: column;
  margin: 15px;
  div{
    img{
      width:100%;
      border-radius: 10px;
    }
    h2,p{
      margin:0;
    }
  }
}
.product-detail {
  position: fixed;
  top: 0;
  left: 50%;
  bottom: 0;
  right: 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition: all ease-out .5s;
  transform: translateX(100%);
  &.active{
    transform: translateX(0);
  }
}
@media screen and (min-width: 40em)and (max-width:63.9em){
  .products--grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap:15px;
  }

}
@media screen and (min-width: 64em){
  .products--grid{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap:15px;
  }
}
