<app-img *ngIf="product.images" [img]="product.images[0]"></app-img>
<h2>${{product.price}}</h2>
<p>{{product.title }} </p>
<button (click)="onAddCart()">Add cart</button>
<button (click)="onShowDetail()">Details</button>

<!-- Mostrar un producto  -->
<!-- <div class="show" [class.active]= "activeShow">
  <app-img [img]="product.image"></app-img>
  <h2>${{product.price}}</h2>
  <p>{{product.title}} </p>
  <p>{{product.category}} </p>
  <p>{{product.id}} </p>
  <p>{{product.description}} </p>
</div> -->
