p,h2{
  margin: 10;
}

// mostrar un articulo 
.show{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: white;
  flex-direction: column;
  justify-content: flex-start;
  transform: translateX(-100%);
  transition: all ease-out .5s;

  &.active {
    transform: translateX(0);
  }
}
