<!-- Explicaciones curso componentes y servicios
  <p><input type="text" [(ngModel)]="imgParent"></p>
<button  (click)="toggleImg()" >Toggle img</button>
<p>{{showImg}} </p>
<app-img *ngIf="showImg" (loaded)="onLoaded($event)" [img]="imgParent"></app-img> -->
<!-- <app-img [fraseHijo]="frasePadre"></app-img> -->

<app-nav></app-nav>
<app-products>

</app-products>

<!-- barra de navegacion y cambio de pagina Fundamentos abajo  -->
<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Commerce</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="onRegister()" >Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="onLogin()" >Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="onProducts()" >Productos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
  </div>
</nav>
<div *ngIf="inRegister==true">
  <form (ngSubmit)="onRegister()" action="" #myForm="ngForm">
    <div class="input.group">
      <label for="">Nombre: </label>
      <input type="text" name="name" required #nameInput="ngModel" id="name" [(ngModel)]="register.name">
      <p class="message-error" [class.invalid]="nameInput.invalid">Nombre obligatorio</p>
    </div>
    <div class="input.group">
      <label for="email">Email: </label>
      <input type="email" name="email" required #emailInput="ngModel" id="email" [(ngModel)]="register.email">
      <p class="message-error" [class.invalid]="emailInput.invalid" >Email obligatorio</p>
    </div>
    <div class="input.group">
      <label for="password">Password: </label>
      <input type="password" name="password" required #passwordInput="ngModel" id="password" [(ngModel)]="register.password">
      <p class="message-error" [class.invalid] ="passwordInput.invalid">Contraseña obligatoria</p>
    </div>

    <button [disabled]="myForm.invalid" type="submit">Registrar</button>
  </form>
</div>

<div *ngIf="inLogin==true">
  <form (ngSubmit)="onLogin()" action="" #myForm="ngForm">

    <div class="input.group">
      <label for="email">Email: </label>
      <input type="email" name="email" required #emailInput="ngModel" id="email" [(ngModel)]="register.email">
      <p class="message-error" [class.invalid]="emailInput.invalid" >Email obligatorio</p>
    </div>
    <div class="input.group">
      <label for="password">Password: </label>
      <input type="password" name="password" required #passwordInput="ngModel" id="password" [(ngModel)]="register.password">
      <p class="message-error" [class.invalid] ="passwordInput.invalid">Contraseña obligatoria</p>
    </div>

    <button [disabled]="myForm.invalid" type="submit">Registrar</button>
  </form>
</div> -->

<!-- Productos renderizados en curso fundamentos
<div *ngIf="inProducts==true">
  <h1>Productos</h1>
<div class="products--grid">
  <div *ngFor="let product of products">
    <img   [src]="product.image" alt="image">
    <h2>$ {{product.price}} </h2>
    <p>{{ product.name }} </p>
  </div>
</div>
</div> -->
